.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.4;
	display: none;
}
.showDiv{
	position: absolute;
	top: 130px;
	left: 0;
	height: 100px;
	width: 100%;
	display: none;
}
.zhe{
	margin:0 20px;
	background: #fff;
	height: 130px;
	display: none;
	border-radius: 3px;
	padding: 0 30px;
	box-shadow:0 10px 0 0 #e9e6df inset;
}
.zhe h1{
	display: -webkit-box;
	-webkit-box-pack:center;
	height: 40px;
	line-height: 50px;
	color:#333;
	font-family: '微软雅黑';
	font-size: 16px;
}
.zhe p{
	display: -webkit-box;
	-webkit-box-pack:center;
	color:#999999;
	height: 40px;
	font-family: '微软雅黑';
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.zhe span{
	display: block;
	background: #1acbbb;
	display: -webkit-box;
	-webkit-box-pack:center;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color:#fff;
	font-weight: bold;
	font-family: '微软雅黑';
	border-radius:5px;
	box-shadow:0 5px 0 0 #10b8a9;
}
